/*HEADER*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    position: relative;
    height: 3.5rem;
}

.header__title {
    display: inline;
    position: absolute;
    font-size: 1.25rem;
    margin: 0.7em;
}

.fa-bars {
    color: #969CA1;
    display: inline;
    position: absolute;
    left: 20rem;
    font-size: 1.5rem;
    margin: 0.7em;
}

.header__search {
    display: inline;
    position: absolute;
    right: 4em;
    margin-top: 0.5em;
    margin-right: 1em;
}

.search__input {
    border-radius: 4px 0 0 4px;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    transition: border-color 0.15s;
    border: 2px solid rgb(0, 123, 255);
    outline: none;
}

.search__input:focus {
    border: 2px solid rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border: 2px solid rgb(0, 123, 255);
    font-size: 1.2rem;
    border-radius: 0 4px 4px 0;
    padding: 0.375rem 0.75rem;
    color: rgb(236, 236, 236);
    margin-left: -0.21em;
}

.header__user {
    display: inline;
    position: absolute;
    right: 1rem;
    margin-top: 0.6em;
    font-size: 1.5em;
    color: #969CA1;
    cursor: pointer;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: row;
}

/*MAIN__ASIDE*/

aside {
    background-color: rgb(33, 37, 41);
    width: 25rem;
    height: 61.6rem;
}

.nav__ul li {
    position: relative;
    list-style: none;
    color: #969CA1;
    margin: 2em 0.4rem 0 0;
    font-size: 1.25em;
}

.nav__ul li:nth-of-type(1n) {
    cursor: default;
}

.nav__ul li a {
    text-decoration: none;
    color: #969CA1;
    transition: color 0.2s;
}

.nav__ul li a:hover {
    color: #E8ECEF;
}

.nav__ul li .fa {
    margin-right: 1rem;
    position: relative;
}

.nav__ul {
    position: relative;
}

.nav__ul .fa-angle-right {
    position: absolute;
    right: 1.5rem;
    color: #969CA1;
    font-weight: bold;
}

.arrowLayouts {
    position: absolute;
    top: 12.2rem;
}

.arrowPages {
    position: absolute;
    top: 16.2rem;
}

/*MAIN__SECTION*/

.content {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    color: #969CA1;
    font-size: 1.2rem;
    font-weight: 600;
}

.main__cards {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__card {
    margin: 1rem;
    border-radius: 5%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    white-space: nowrap;

}

.main__card--blue {
    background-color: rgb(0, 123, 255);
    position: relative;
}

.main__card--blue:hover {
    animation: slide 5s 1;
    background-color: rgb(0, 123, 255);
    background-image: linear-gradient(to right, transparent 0%,rgba(255,255,255,0.3) 50%, transparent 100%);
    background-repeat: no-repeat;
    background-position: -100rem;
    animation: shine 2s 1;
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
}

.main__card--yellow:hover {
    animation: slide 5s 1;
    background-color: rgb(255, 193, 7);
    background-image: linear-gradient(to right, transparent 0%,rgba(255,255,255,0.3) 50%, transparent 100%);
    background-repeat: no-repeat;
    background-position: -100rem;
    animation: shine 2s 1;
}

.main__card--green {
    background-color: rgb(40, 167, 69);
}

.main__card--green:hover {
    animation: slide 5s 1;
    background-color: rgb(40, 167, 69);
    background-image: linear-gradient(to right, transparent 0%,rgba(255,255,255,0.3) 50%, transparent 100%);
    background-repeat: no-repeat;
    background-position: -100rem;
    animation: shine 2s 1;
}

.main__card--red {
    background-color: rgb(220, 53, 69);
}

.main__card--red:hover {
    animation: slide 5s 1;
    background-color: rgb(220, 53, 69);
    background-image: linear-gradient(to right, transparent 0%,rgba(255,255,255,0.3) 50%, transparent 100%);
    background-repeat: no-repeat;
    background-position: -100rem;
    animation: shine 2s 1;
}

.card__top {
    padding: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.card__bottom {
    padding: 1.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card__bottom .fa {
    right: 1rem;
    font-weight: bold;
}

.nav__ul--mobile {
    display: none;
}


/*KISEBB MÉRET ÉS TELEFONHOZ TARTOZÓ BEÁLLÍTÁSOK*/


@media screen and (max-width: 1350px) {
    .main__card {
        flex-basis: 33%;
    }
}

@media only screen and (max-width: 970px) {
    .nav__ul .fa-angle-right {
        display: none;
    }
    .fa-bars {
        display: none;
    }
    .nav__ul li .fa {
        display: none;
    }
}

@media screen and (max-width: 795px) {
    .main__card {
        flex-basis: 50%;
    }
}

    @media only screen and (max-width: 700px) {
        .header--dark {
            background-color: rgb(51, 57, 64);
            color: rgb(236, 236, 236);
            height: 3.5rem;
        }
       
        aside {
            background-color: rgb(33, 37, 41);
            width: 3rem;
            height: 55.05rem;
        }
        .nav__ul li {
            display: none;
            margin-bottom: 2rem;
        }
        .nav__ul--mobile {
            display: inline-block;
            position: absolute;
            left: -2rem;
            list-style: none;
            color: #969CA1;
            font-size: 1.25em;
            margin: 2em 0.4rem 0 0;
        }
    
        .nav__ul--mobile li {
        position: relative;
        color: #969CA1;
        margin: 2.2em 0.4rem 0 0;
        }
        .main__cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    @media only screen and (max-width: 520px) {
        .search__input {
            display: none;
        }
    
        .search__btn {
            border-radius: 15%;
        }
    }

/*Animáció*/

@keyframes shine {
        0% {
          background-position: -20rem;    
        }
        100% {
          background-position: 100rem;   
        }
      }


